<!DOCTYPE html>
<html>
<head>
  <title>Discover how your Politicians have Voted!</title>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="bower_components/Materialize/bin/materialize.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <link href='https://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
</head>
<body ng-app="CongressionalStalker" ng-controller='AuthCheck'>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Congressional Stalker</a>
      <ul class="right hide-on-med-and-down">
        <li ng-if='loginCheck()'><a href='#' data-activates='searches-nav' data-sidenav='right' data-menuwidth='200' data-closeonclick='true'>Previous Searches</a></li>
        <li><a ui-sref="register"><i class="fa fa-user left"></i>Register</a></li>
        <li ng-if='!loginCheck()'><a ui-sref="login"><i class="fa fa-sign-in left"></i>Login</a></li>
        <li ng-if="loginCheck()"><a ui-sref="logout"><i class="fa fa-sign-out left"></i>Logout</a></li>
      </ul>
    </div>
</nav>

<div ui-view></div>

<ul class='side-nav' id='searches-nav' class='searches-nav'>
  <li ng-repeat='search in searchCache'>
    <a href='' ng-click='getMemberAndVotes(search.name)'>{{nameCase(search.name)}}</a>
    <div class='divider'></div>
  </li>
</ul>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/Materialize/bin/materialize.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="bower_components/angular-materialize/src/angular-materialize.js"></script>
<script type="text/javascript" src="bower_components/progressbar.js/dist/progressbar.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type='text/javascript' src='components/results/resultsCtrl.js'></script>
<script type='text/javascript' src='components/search/searchCtrl.js'></script>
<script type='text/javascript' src='auth/register.js'></script>
<script type='text/javascript' src='auth/login.js'></script>
<script type='text/javascript' src='auth/logout.js'></script>
<script type='text/javascript' src='services/handleRequest.js'></script>
<script type='text/javascript' src='directives/directives.js'></script>
<script type='text/javascript' src='components/search/byStateCtrl.js'></script>
<script type='text/javascript' src='components/results/byStateResultsCtrl.js'></script>
<script type='text/javascript' src='components/filters/filters.js'></script>

</body>
</html>