.brand-logo {
  font-family: 'Creepster', cursive;
  margin-left: 15px;
  font-size: .8em;
}

.center-form {
  float: none;
}

.drop {
  margin: 5% auto;
}

.table-items-medium {
  font-size: 1.5em;
  cursor: pointer;
}

.centered {
  display: table;
  margin: auto;
  width: 600px;
}

.btn-search {
  margin: 6px;
  left: 20px !important;
}

.subheader {
  font-weight: bold;
}

.flex {
  display: flex;
}

#member-container {
  margin-top: 5%;
}

#bio ul{
  margin: 5px 0;
}

#social {
  margin-top: 15px;
}

#summary {
  margin-left: 20px;
  margin-right: 30px;
}

#summary p {
  margin: 5px 0;
}

#voteProgress {
  width: 200px;
  height: 200px;
  margin: 20px;
}

#voteProgress > p {
  color: coral;
  position: absolute;
  top: 44%;
  margin: 18px 12px;
  text-align: center;
}

a > img{
  width: 40px;
}

.lighter-blue {
  background-color: #678CE5;
  color: white;
}

.card-panel {
  margin: 0 0 -20px 0;
}

.table-pages {
  left: 50%;
}

nav {
  background-color: #1D2740;
}

.btn {
  background-color: #394E7F;
}

.btn:hover {
  background-color: #5675BF;
}

.btn:active {
  background-color: #5675BF;
}

.date{
  font-size: 110%;
  font-style: italic;
}

.darkishBlue {
  background-color: #678CE5;
  color: white;
  font-family: 'Convergence', sans-serif;
}

.loading {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
}

h1 {
  font-size: 24px;
  color: #008ccc;
}

.team {
  color: #008ccc;
  background: lavender;
  margin-top: 276px;
  margin-bottom: -276px;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
}

.team p {
  color: black;
}

.shift-right {
  margin-left: 117px !important;
}

.team-member {
  background: lavender;
  padding: 60px !important;
}

.team-member>img {
  width:30%;
  display: block;
  position: relative;
  height: auto;
  z-index: 0;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
}

.fixed-col {
  width:50px;
}

