.brand-logo {
  font-family: 'Creepster', cursive;
  margin-left: 15px;
  font-size: .8em;
}

.center-form {
  float: none;
}

.drop {
  margin: 5% auto;
}

.table-items-medium {
  font-size: 1.5em;
  cursor: pointer;
}

.centered {
  display: table;
  margin: auto;
  width: 600px;
}

.btn-search {
  margin: 6px;
  left: 20px !important;
}

.subheader {
  font-weight: bold;
}

.flex {
  display: flex;
}

#member-container {
  margin-top: 5%;
}

#bio ul{
  margin: 5px 0;
}

#social {
  margin-top: 15px;
}

#summary {
  margin-left: 20px;
  margin-right: 30px;
}

#summary p {
  margin: 5px 0;
}

#voteProgress {
  width: 200px;
  height: 200px;
  margin: 20px;
}

#voteProgress > p {
  color: coral;
  position: absolute;
  top: 44%;
  margin: 18px 12px;
  text-align: center;
}

a > img{
  width: 40px;
}

.lighter-blue {
  background-color: #678CE5;
  color: white;
}

.card-panel {
  margin: 0 0 -20px 0;
}

.table-pages {
  left: 50%;
}

