<div class='darkishBlue z-depth-1'>
  <div class='row'>
    <h2 class='col s12 center-align'>Get informed</h2>
    <h4 class='col s12 center-align'>What are your elected officials doing?</h4>
    <br>
  </div>
</div>
<div dl-search-member></div>
<div class="loading" ng-if="loading">
  <img src="/images/ring.gif">
</div>

<!-- <div class="row team">
  <div class="col s12">
  <h2>The Team</h2>
  </div>
</div>
<div class="row team">
  <div class="col s12">
    <div class="team-member">
      <img src="{{teamMemberImage}}" alt="">
      <h3>{{teamMemberName}}</h3>
      <p>{{teamMemberRole}}</p>
    </div>
  </div>
</div> -->