<div class='darkishBlue z-depth-1'>
  <div class='row'>
    <h2 class='col s12 center-align'>Get informed</h2>
    <h4 class='col s12 center-align'>What are your elected officials doing?</h4>
    <br>
  </div>
</div>
<div dl-search-member></div>

<div class="loading" ng-if="loading">
  <img src="/images/ring.gif">
</div>

<div class="row team center-align">
  <div class="col s12">
    <h2>The Team</h2>
  </div>
</div>
<div class="row team">
  <div class="col s12 shift-right">
    <div class="col s3 team-member" ng-repeat="member in teamMembers | orderBy:'-name'">
      <img ng-src="{{member.image}}" alt="">
      <h1>{{member.name}}</h1>
      <p>{{member.role}}</p>
    </div>
  </div>
</div>